//nav
.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav__logo {
    font-weight: $font-bold;
  }

  .nav__item {
    margin-bottom: $mb-4;
    .nav__link {
      color: $dark-color;
      font-weight: $font-semi;
      &:hover {
        color: $first-color;
      }
    }
  }

  .nav__toggle {
    font-size: $h1-font-size;
    cursor: pointer;
  }

  //show menu
  .show {
    right: 0;
  }
  .active {
    color: $first-color;
  }
}

//burger
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

//media
@include mq(768px) {
  .nav__menu {
    position: fixed;
    top: $header-height;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: $white-color;
    transition: 0.5s;
  }
}
